* {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

:root {
	--storm-dark: #091720;
	--storm: #1e3440;
	--storm-light: #536975;

	--ground-dark: #101511;
	--ground: #292d24;
	--ground-light: #46513a;

	--wind-speed: 1;
	--rain-speed: 1;
	--lightning-speed: 1;
}

body {
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

#sky {
	width: 102%;
	height: 102%;
	background-color: var(--storm-dark);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	overflow: hidden;

	.star {
		background-color: white;
		aspect-ratio: 1/1;
		border-radius: 50%;
		position: absolute;
		filter: drop-shadow(0 0 4px white) drop-shadow(0 0 10px #dcefff)
			drop-shadow(0 0 20px #8ebce0);

		+ .twinkle {
			animation-name: twinkle;
			animation-direction: alternate-reverse;
			animation-iteration-count: infinite;
			animation-duration: 1s;
		}

		+ .big {
			clip-path: polygon(
				50% 0%,
				52% 37%,
				58% 41%,
				72% 27%,
				61% 44%,
				64% 48%,
				100% 50%,
				64% 52%,
				61% 56%,
				72% 73%,
				58% 59%,
				52% 63%,
				50% 100%,
				48% 63%,
				42% 59%,
				28% 73%,
				39% 56%,
				36% 52%,
				0% 50%,
				36% 48%,
				39% 44%,
				28% 27%,
				42% 41%,
				48% 37%
			);
		}
	}
}

@keyframes twinkle {
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#ground {
	position: absolute;
	bottom: -1.5%;
	left: 50%;
	transform: translateX(-50%);
	width: 106%;
	height: 23%;
	background-color: var(--ground);
	background-image: url("./assets/ground.avif");
	filter: brightness(60%);
}

img {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	pointer-events: none;
	height: 92.5%;
	position: absolute;
	bottom: -1.5%;
	left: 50%;
	transform: translateX(-50%);
}

/* Temp Styling */

.square {
	border: 3px solid white;
	aspect-ratio: 1/1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.square:nth-of-type(1) {
	width: 50px;
	opacity: 1;
}

.square:nth-of-type(2) {
	width: 100px;
	opacity: 0.85;
}

.square:nth-of-type(3) {
	width: 150px;
	opacity: 0.7;
}

.square:nth-of-type(4) {
	width: 200px;
	opacity: 0.55;
}

.square:nth-of-type(5) {
	width: 250px;
	opacity: 0.4;
}
